# Пример ноутбука для соревнования

### Импортируем необходимые библиотеки

Import all libraries we need

In [1]:
import pandas as pd
import numpy as np
import sklearn

import matplotlib.pyplot as plt
%matplotlib inline

### Подгружаем и разархивируем данные для соревнования

In [2]:
%%capture
!wget https://www.dropbox.com/s/mn9geg9ac3n0i3o/gender_test_kaggle_sample_submission.csv
!wget https://www.dropbox.com/s/o7oe7yzcvvva9az/gender_train.csv
!wget https://www.dropbox.com/s/phbo4sgjsiqco8z/transactions.csv.zip

In [3]:
!unzip transactions.csv.zip

"unzip" �� ���� ����७��� ��� ���譥�
��������, �ᯮ��塞�� �ணࠬ��� ��� ������ 䠩���.

##### Проверяем, что скачали

In [4]:
!ls

"ls" �� ���� ����७��� ��� ���譥�
��������, �ᯮ��塞�� �ணࠬ��� ��� ������ 䠩���.

### Подготовка данных по транзакциям

#### Считываем файл

In [6]:
transactions_data = pd.read_csv('transactions.csv')

In [7]:
transactions_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3751083 entries, 0 to 3751082
Data columns (total 7 columns):
 #   Column       Dtype
---  ------       -----
 0   Unnamed: 0   int64
 1   customer_id  int64
 2   tr_datetime  object
 3   mcc_code     int64
 4   tr_type      int64
 5   amount       float64
 6   term_id      object
dtypes: float64(1), int64(4), object(2)
memory usage: 200.3+ MB

In [8]:
transactions_data.drop('Unnamed: 0', inplace=True, axis=1)

In [9]:
transactions_data.shape

(3751083, 6)

#### Информация по каждому столбцу

* **customer_id** - идентификатор клиента
* **tr_datetime** - день и время совершения транзакции (дни нумеруются с начала данных)
* **mcc_code** - mcc-код транзакции
* **tr_type** - тип транзакции
* **amount** - сумма транзакции в условных единицах; со знаком "+" — начисление средств клиенту (приходная транзакция), "-" — списание средств (расходная транзакция)
* **term_id**  - идентификатор терминала

In [10]:
transactions_data.head()

   customer_id tr_datetime  mcc_code  tr_type    amount term_id
0     39026145  0 10:23:26      4814     1030  -2245.92     NaN
1     39026145  1 10:19:29      6011     7010  56147.89     NaN
2     39026145  1 10:20:56      4829     2330 -56147.89     NaN
3     39026145  1 10:39:54      5499     1010  -1392.47     NaN
4     39026145  2 15:33:42      5499     1010   -920.83     NaN

#### Уникальные типы транзакций

In [11]:
unique_codes = transactions_data['tr_type'].unique()

In [12]:
unique_codes

array([1030, 7010, 2330, 1010, 2010, 7020, 1110, 6110, 7014, 1100, 2020,
       2370, 7070, 7030, 7071, 2331, 4051, 6010, 2011, 4011, 2371, 4071,
       4110, 2110, 7031, 7074, 7011, 1200, 2320, 7021, 1210, 4010, 4041,
       6200, 6100, 2021, 2456, 4097, 2210, 4210, 2440, 7034, 4090, 4500,
       4031, 7024, 8145, 4100, 1410, 1510, 7035, 7075, 1310, 7041, 2460,
       2340, 6000, 4020, 1000, 7015, 6210, 4021, 2446, 4096, 2100, 7040,
       8100, 4061, 2341, 8146, 2200, 4200, 4035, 7025, 4045, 2000],
      dtype=int64)

In [13]:
def get_codes_vector(data, unique_codes, code_column_name='tr_type'):
  codes_values = pd.Series([0] * len(unique_codes), index=unique_codes)
  codes_counts = data[code_column_name].value_counts()
  codes_values[codes_counts.index] = codes_counts
  return codes_values

In [14]:
get_codes_vector(transactions_data.iloc[:1000], unique_codes)

1030    126
7010     18
2330     13
1010    516
2010    111
       ...
4200      0
4035      0
7025      0
4045      0
2000      0
Length: 76, dtype: int64

In [15]:
customer_transactions = transactions_data.groupby(['customer_id']).apply(lambda x:
  get_codes_vector(x, unique_codes))

In [16]:
customer_transactions.shape

(8400, 76)

#### Сгруппировали уникальные типы транзакций по каждому клиенту

In [17]:
customer_transactions.head()

,1030,7010,2330,1010,2010,7020,1110,6110,7014,1100,...,8100,4061,2341,8146,2200,4200,4035,7025,4045,2000
customer_id,,,,,,,,,,,,,,,,,,,,,
22899,47,40,2,6,48,0,27,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28753,25,5,29,89,24,0,65,1,0,3,...,0,0,0,0,0,0,0,0,0,0
42096,94,2,22,299,184,0,83,0,0,50,...,0,0,0,0,0,0,0,0,0,0
49793,81,12,0,287,70,0,42,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50940,0,0,0,9,90,0,6,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Подготовка данных по гендеру

In [18]:
genders = pd.read_csv('gender_train.csv')

#### Посмотрим, сколько клиентов принадлежит каждому из двух классов

In [19]:
genders['gender'].value_counts()

0    3276
1    2604
Name: gender, dtype: int64

In [20]:
genders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5880 entries, 0 to 5879
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   5880 non-null   int64
 1   customer_id  5880 non-null   int64
 2   gender       5880 non-null   int64
dtypes: int64(3)
memory usage: 137.9 KB

In [21]:
genders.index = genders['customer_id']
genders.drop(columns=['customer_id', 'Unnamed: 0'], inplace=True)

In [22]:
genders.head()

             gender
customer_id
57807356          1
31453935          0
48079721          0
39809041          0
99267661          1

In [23]:
genders.shape

(5880, 1)

### Подготовка данных для обучения

#### Теперь соединим таблицы, полученные на первом и втором шаге

In [24]:
training_data = genders.merge(customer_transactions, how='left', left_index=True, right_index=True)

In [25]:
training_data.head()

,gender,1030,7010,2330,1010,2010,7020,1110,6110,7014,...,8100,4061,2341,8146,2200,4200,4035,7025,4045,2000
customer_id,,,,,,,,,,,,,,,,,,,,,
57807356,1,195,82,5,10,52,0,15,0,0,...,0,0,0,0,0,0,0,0,0,0
31453935,0,111,2,4,292,91,0,131,0,0,...,0,0,0,0,0,0,0,0,0,0
48079721,0,70,6,1,85,21,1,2,0,0,...,0,0,0,0,0,0,0,0,0,0
39809041,0,56,16,23,329,34,0,47,0,0,...,0,0,0,0,0,0,0,0,0,0
99267661,1,53,35,0,17,60,0,51,0,0,...,0,0,0,0,0,0,0,0,0,0

#### Разделим выборку на обучающую и тестовую

Здесь наш таргет - gender, его мы и будем предсказывать

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
training_points, test_points, training_values, test_values = train_test_split(training_data.drop(columns='gender'),
                                                                              training_data[['gender']],
                                                                              test_size=0.4, random_state=0)

### Построим модель

Как пример возьмем Light Gradient Boosting Machine (lightgbm)

In [29]:
# build the lightgbm model
import lightgbm as lgb

In [30]:
lgbm_classifier = lgb.LGBMClassifier()
lgbm_classifier.fit(training_points, training_values)

C:\Users\sudo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\preprocessing\_label.py:97: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\sudo\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

[LightGBM] [Info] Number of positive: 1581, number of negative: 1947
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001200 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 2483
[LightGBM] [Info] Number of data points in the train set: 3528, number of used features: 53
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.448129 -> initscore=-0.208232
[LightGBM] [Info] Start training from score -0.208232

LGBMClassifier()

In [31]:
from sklearn.metrics import roc_auc_score

In [32]:
print(roc_auc_score(test_values, lgbm_classifier.predict_proba(test_points)[:, 1]))

0.5996298821610115

### Подготовим submition

In [33]:
test_data = pd.read_csv('gender_test_kaggle_sample_submission.csv')

In [34]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2520 entries, 0 to 2519
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  2520 non-null   int64
 1   probability  2520 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 39.5 KB

In [35]:
test_data.index = test_data['customer_id']
test_data.drop(columns='customer_id', inplace=True)

In [36]:
customer_transactions.loc[test_data.index]

,1030,7010,2330,1010,2010,7020,1110,6110,7014,1100,...,8100,4061,2341,8146,2200,4200,4035,7025,4045,2000
customer_id,,,,,,,,,,,,,,,,,,,,,
62533123,78,0,0,17,40,0,8,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23345904,37,29,0,21,141,0,66,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61855287,83,16,4,6,118,0,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26971094,10,1,1,55,81,0,99,0,0,0,...,0,0,0,0,0,0,0,0,0,0
54669253,2,1,0,13,46,0,14,0,0,8,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43214184,19,11,4,18,27,0,6,0,0,1,...,0,0,0,0,0,0,0,0,0,0
53205452,1,1,0,2,40,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17515894,12,0,0,4,91,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10702887,30,4,0,57,22,0,25,0,0,1,...,0,0,0,0,0,0,0,0,0,0
16745107,38,3,14,91,78,0,120,0,0,13,...,0,0,0,0,0,0,0,0,0,0

In [37]:
test_data['probability'] = lgbm_classifier.predict_proba(customer_transactions.loc[test_data.index])[:, 1]

In [38]:
test_data.head()

             probability
customer_id
62533123        0.463447
23345904        0.516496
61855287        0.281282
26971094        0.893058
54669253        0.527847

In [39]:
test_data.to_csv('our_prediction.csv')

#### А теперь попробуйте улучшить скор :)